* {
  margin: 0;
  padding: 0;
}

h4 {
  font-family: serif;
  color: #ef7f2a;
}

h2, h3, button {
  color: #f1f2f1;
}

p, li {
  font-family: sans-serif;
}

p {
  font-size: 12px;
  line-height: 16px;
  color: #cecfce;
}

#wrapper {
  width: 995px;
  margin: 0 auto;
  padding: 0 8px;
  background-color: #141514;
}

#header {
  width: 100%;
  height: 115px;
  background-color: #191a19;
}

#header img {
  margin: 20px 0 0 20px;
}

#header p {
  font-size: 15px;
  font-weight: 600;
  position: relative;
  bottom: 58px;
  left: calc(100% - 185px);
  color: #cecfce;
}

nav {
  width: 100%;
  height: 43px;
  background: linear-gradient(to bottom, #525352, #242524);
}

nav ul {
  padding: 10px 15px;
}

nav li {
  font-size: 13px;
  font-weight: 600;
  display: inline;
  margin-right: -4px;
  padding: 0 16px;
  list-style-type: none;
  color: #a2a3a2;
}

nav li:first-child {
  border-left: none;
}

nav li:last-child {
  border-right: none;
}

#weird-line, nav li {
  border-right: 1px solid #373837;
  border-left: 1px solid #515251;
}

#weird-line {
  position: relative;
  bottom: 38px;
  left: 950px;
  height: 43px;
}

nav .nav-selected {
  color: #dadbda;
}

#main-image {
  width: 100%;
  border-bottom: 5px solid #3a3b3a;
}

#highlights {
  height: 158px;
  background-color: #191a19;
}

#highlights .highlight, .portfolio-item {
  display: inline-block;
  width: 215px;
  margin: 25px 0 0 25px;
}

#highlights .highlight-text {
  position: relative;
  bottom: 45px;
  left: 65px;
  width: 150px;
}

#highlights .highlight-text h4 {
  font-size: 18px;
  margin-bottom: 3px;
}

#middle-content {
  height: 145px;
  padding: 40px 0 0 40px;
  background: repeating-linear-gradient( 140deg, #000, #121312 2px, #1f1e1e 3px, #181a18 4px);
}

#middle-content h3 {
  font-family: sans-serif;
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 10px;
}

#middle-content p {
  width: 625px;
}

#middle-content button {
  font-size: 18px;
  position: relative;
  bottom: 40px;
  left: 790px;
  width: 123px;
  height: 40px;
  border: none;
  border-radius: 5px;
  background: linear-gradient(to bottom, #f19a58, #f1802c);
}

#portfolio {
  padding: 30px 0;
  background-color: #181a18;
}

#portfolio #view-all {
  font-style: italic;
  position: relative;
  bottom: 20px;
  left: 860px;
  color: #ef7f2a;
}

#portfolio h3 {
  margin-left: 25px;
}

.portfolio-item {
  margin-top: 4px;
}

.portfolio-item img {
  border: 3px solid #353635;
}

.portfolio-item h4 {
  margin: 10px 0;
}

#back-to-top {
  font-size: 10px;
  font-weight: 600;
  position: relative;
  left: 910px;
  color: #7e8181;
}
